<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue js tehtävä 2_6</title>
</head>
<body>

<div id="app4">
    <label for="list">User List</label>
    <hr>
    <input id="list" placeholder="text" v-model="user">
    <button @click="add(user)">Add User</button>
    <button @click="removeLast(user)">Delete User</button>
    <div>
        <ul>
            <li v-for="(user, index) of list">
                {{user}}
                <button @click="removeUser(index)">Delete</button>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="vue2_6-7.js"></script>
</body>
</html>